@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Home/_HomeLayout.cshtml";
}

<!-- Main content -->
<div class="container-fluid" 
     style="background-image: url(/Assets/img/homepage/SushiChef-Bg.jpg);width:100%;height:100%; background-position:center; background-size:cover; position:absolute;">
    <div class="row">
        <!-- Header bar icon -->
        <div class="col-md-12 right" style="padding-top:20px;">
            <div class="col-md-1 col-md-offset-11">
                <div id="animation-switcher">
                    <a id="login_popup" class="btn btn-lg btn-info light" href="#modal-form" data-effect="mfp-flipInY">Log in</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2" style="position: absolute;height:380px;width:900px;top:0px;right:0px;left:0px;bottom:0px;margin:auto; text-align:center">
            <img src="~/Assets/img/homepage/flat-design-examples-logo-13.png" />
            <h1 style="font-size:45px;color:white;">Start up your new websites</h1>
            <h2 style="color:white">It's surprisingly easy to create a unique website for product catalogue</h2>
            <a id="register_popup" class="btn btn-rounded btn-info light btn-lg" href="#register-form-popup">Sign Up Now</a>
        </div>
    </div>
</div>

<!-- Loggin Form Popup -->
<div id="modal-form" class=" popup-basic admin-form mfp-with-anim mfp-hide">
    <div class="admin-form tab-pane active" id="login2" role="tabpanel">
        <div class="panel panel-primary heading-border">
            <div class="panel-heading">
                <span class="panel-title"><i class="fa fa-sign-in"></i>Login</span>
            </div>
            <!-- end .form-header section -->
            <form method="post" action="http://admindesigns.com/" >
                <div class="panel-body ">
                    <div class="section row">
                        <div class="col-md-12 ">
                            <div class="section-divider">
                                <span>Login</span>
                            </div>
                            <!-- .tagline -->
                            <div class="section">
                                <label for="username" class="field prepend-icon">
                                    <input type="text" name="username" id="username" class="gui-input" placeholder="Enter username">
                                    <label for="username" class="field-icon">
                                        <i class="fa fa-user"></i>
                                    </label>
                                </label>
                            </div>
                            <!-- end section -->
                            <div class="section">
                                <label for="password" class="field prepend-icon">
                                    <input type="text" name="password" id="password" class="gui-input" placeholder="Enter password">
                                    <label for="password" class="field-icon">
                                        <i class="fa fa-lock"></i>
                                    </label>
                                </label>
                            </div>
                            <!-- end section -->
                            <div class="checkbox-custom fill checkbox-primary mb5">
                                <input checked="" id="checkboxExample14" type="checkbox">
                                <label for="checkboxExample14">Remember me</label>
                            </div>
                            <!-- end section -->
                        </div>
                        <div class="col-md-12 border-right">
                            <div class="section-divider ">
                                <span>OR Sign in With</span>
                            </div>
                            <!-- .tagline -->
                            <div class="section col-md-6">
                                <a href="#" class="button btn-social facebook span-left btn-block">
                                    <span>
                                        <i class="fa fa-facebook"></i>
                                    </span>Facebook
                                </a>
                            </div>
                            <div class="section col-md-6">
                                <a href="#" class="button btn-social googleplus span-left btn-block">
                                    <span>
                                        <i class="fa fa-google-plus"></i>

                                    </span>Google
                                </a>
                            </div>
                            <!-- end section -->
                        </div>
                        <!-- end .colm section -->
                        <!-- end .colm section -->
                    </div>
                    <!-- end .section row section -->
                </div>
                <!-- end .form-body section -->
                <div class="panel-footer">
                    <button type="submit" class="button btn-primary">Sign in</button>
                </div>
                <!-- end .form-footer section -->
            </form>
        </div>
        <!-- end .admin-form section -->
    </div>
    <!-- end: .admin-form -->
</div>

<!-- end: .admin-form -->
<!-- Register Form Popup -->
<div id="register-form-popup" class=" popup-basic admin-form mfp-with-anim mfp-hide">
    <div class="admin-form tab-pane active" id="register1" role="tabpanel">
        <div class="panel panel-primary heading-border">
            <div class="panel-heading">
                <span class="panel-title">
                    <i class="fa fa-pencil-square"></i>Create Account
                </span>

            </div>
            <!-- end .form-header section -->
            <form method="post" action="http://admindesigns.com/" id="form-register1">
                <div class="panel-body p25">
                    <label for="names" class="field-label">Your names</label>
                    <div class="section row">
                        <div class="col-md-12">
                            <label for="firstname" class="field prepend-icon">
                                <input name="firstname" id="firstname" class="gui-input" placeholder="First name..." type="text">
                                <label for="firstname" class="field-icon">
                                    <i class="fa fa-user"></i>
                                </label>
                            </label>
                        </div>
                        <!-- end section -->
                    </div>
                    <!-- end section row section -->

                    <div class="section">
                        <label for="password" class="field-label">Create a password</label>
                        <label for="password" class="field prepend-icon">
                            <input name="password" id="password" class="gui-input" type="password">
                            <label for="password" class="field-icon">
                                <i class="fa fa-lock"></i>
                            </label>
                        </label>
                    </div>
                    <!-- end section -->
                    <div class="section">
                        <label for="confirmPassword" class="field-label">Confirm your password</label>
                        <label for="confirmPassword" class="field prepend-icon">
                            <input name="confirmPassword" id="confirmPassword" class="gui-input" type="password">
                            <label for="confirmPassword" class="field-icon">
                                <i class="fa fa-unlock-alt"></i>
                            </label>
                        </label>
                    </div>
                    <!-- end .section row section -->
                    <!-- end section -->
                    <div class="section">
                        <label for="email" class="field-label">Your email address</label>
                        <label for="email" class="field prepend-icon">
                            <input name="email" id="email" class="gui-input" placeholder="example@domain.com..." type="email">
                            <label for="email" class="field-icon">
                                <i class="fa fa-envelope"></i>
                            </label>
                        </label>
                    </div>
                    <!-- end section -->
                    <div class="section">
                        <label class="option">
                            <input name="check1" type="checkbox">
                            <span class="checkbox"></span>Agree to our
                            <a href="#" class="smart-link"> terms of service </a>
                        </label>
                    </div>
                    <!-- end section -->
                </div>
                <!-- end .form-body section -->
                <div class="panel-footer">
                    <button type="submit" class="button btn-primary">Create Account</button>
                </div>
                <!-- end .form-footer section -->
            </form>
        </div>
        <!-- end .admin-form section -->
    </div>
</div>

