<div id="tab3" class="tab">
    <div class="title-area">
        <div class="title">
            Thông tin tài khoản
        </div>
    </div>
    <div class="btn btn_edit">
        <a href="#">
            <table>
                <tr>
                    <td>
                        <img src="./Images/Edit.jpg" />
                    </td>
                    <td>
                        <h3 style="color:blue;font-style:normal">Thay đổi mật khẩu</h3>
                    </td>
                </tr>
            </table>
        </a>
    </div>
    <div class="profile-information">
        <table class="account-information" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        tuanlethanhtn@gmail.com
                    </td>
                </tr>
                <tr>
                    <td>
                        Loại tài khoản:
                    </td>
                    <td>
                        Gold
                    </td>
                </tr>
                <tr>
                    <td>
                        Ngày đăng ký:
                    </td>
                    <td>
                        22/12/2014
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
