<div id="tab2">
    <div class="title-area">
        <div class="title-storage">
            Dung lượng lưu trữ
        </div>
    </div>
    <div class="area">
        <div class="storage-information">
            <span>
                Dung lượng đã sử dụng :
            </span>
            <b>
                20.77 MB
            </b>
            / 50 MB
        </div>
        <div class="progress-bar">
            <div class="ui-progressbar ui-widget ui-widget-content">
                <div class="ui-progressbar-value ui-widget-header" style="width: 42%;">
                    <span>
                        20.77 MB
                    </span>
                </div>
            </div>
            <div>
                <span>
                    0
                </span>
                <span style="float: right">
                    50 MB
                </span>
            </div>
        </div>
    </div>
</div>
