<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoftwareIdeasModeler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SoftwareIdeasModeler.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="RunCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Simd" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFilesInMenu" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RecentFilesInStartPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ShowStartPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStandardBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSideBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLayoutBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoScrolling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapToGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridHorizontalSpacing" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GridVerticalSpacing" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GridType" serializeAs="String">
                <value>Lines</value>
            </setting>
            <setting name="DiagramBackgroundColor1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DiagramBackgroundColor2" serializeAs="String">
                <value>255, 192, 128</value>
            </setting>
            <setting name="ShowDiagramPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMultipleUsage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAssignedDiagrams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SideBarWidth" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="SideBarSplitterY" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="TabStripHeight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ToolboxWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="StandardBarX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LayoutBarX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StandardBarY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LayoutBarY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowBounds" serializeAs="String">
                <value>0, 0, 900, 650</value>
            </setting>
            <setting name="IsMainWindowMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RelationsAlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActivationCode" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatchExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DonorCode" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectTreeInitialState" serializeAs="String">
                <value>FullyExpanded</value>
            </setting>
            <setting name="DefaultAttributeVisibilty" serializeAs="String">
                <value>private</value>
            </setting>
            <setting name="DefaultOperationVisiblity" serializeAs="String">
                <value>public</value>
            </setting>
            <setting name="DefaultShowNullability" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="InstallDate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsCommercialUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DontUseCtrlAltShortcutKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInitials" serializeAs="String">
                <value />
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowDiagramBorders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRulers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultElementProjectVisibility" serializeAs="String">
                <value>Diagram</value>
            </setting>
            <setting name="InflateContainerMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ElementPropertiesCloseMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RenderingQuality" serializeAs="String">
                <value>Best</value>
            </setting>
            <setting name="ShowCreatorsAndParticipants" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvaluationStartDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUseSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Edition" serializeAs="String">
                <value>NotChosen</value>
            </setting>
            <setting name="ProfileCheckedForVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDocumentationTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDocumentationFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceCodeLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceCodeTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDiagramWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultDiagramHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultDiagramSizeType" serializeAs="String">
                <value>ExpandableAllDirections</value>
            </setting>
            <setting name="DefaultDiagramSizeUnit" serializeAs="String">
                <value>px</value>
            </setting>
            <setting name="DefaultDiagramBackgroundColor1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DefaultDiagramBackgroundColor2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ShowDiagramPaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDiagramBackgroundType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="ImageSaveType" serializeAs="String">
                <value>EmbedImage</value>
            </setting>
            <setting name="PropertiesDialogDefaultSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OpenDocumentAfterGeneration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DocumentationOutputPaths" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyType" serializeAs="String">
                <value>NoProxy</value>
            </setting>
            <setting name="ProxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
        </SoftwareIdeasModeler.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
