@{
    ViewBag.Title = "ProductManagement";
       Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<!-- Start: Topbar -->
<!-- Start: Topbar -->
<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="dashboard.html">Products Management</a>
            </li>
            <li class="crumb-icon">
                <a href="dashboard.html">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-link">
                <a href="index.html">Home</a>
            </li>
            <li class="crumb-trail">Dashboard</li>
        </ol>
    </div>
</header>
<!-- End: Topbar -->
<section id="content" class="table-layout">
    <div class="col-md-12">

        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-tasks"></span>

                    Products List

                </div>
            </div>
            <div class="panel-body pn">
                <div id="datatable2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="dt-panelmenu clearfix">
                        <div id="datatable2_length" class="dataTables_length">

                        </div>
                        <div id="datatable2_filter" class="dataTables_filter">

                        </div>
                    </div>
                    <table id="datatable2" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="datatable2_info" style="width: 100%;">

                        <thead>
                            <tr role="row">
                               
                                <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" style="width: 286px;" aria-label="Position: activate to sort column ascending">

                                    Category Name

                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" style="width: 105px;" aria-label="Office: activate to sort column ascending">

                                    Created Date

                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" style="width: 139px;" aria-label="Start date: activate to sort column ascending">

                                    Update Date

                                </th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 96px;" aria-label="Manipulation">

                                    Manipulation

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" role="row">
                                <td class="sorting_1">

                                   Sport Shoes

                                </td>
                                <td>

                                    22/12/2014

                                </td>
                                <td>

                                    23/12/2014

                                </td>
                                <td>
                                    <div style="text-align:center">
                                        <a href="~/ProductManagement/AddProduct?param=Update"><i class="fa fa-2x fa-pencil text-primary"></i></a>&nbsp;&nbsp;
                                        <a href="#" onclick="confirm('Are you sure to remove this item?')"> <i class="fa fa-2x fa-remove text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="odd" role="row">
                                <td class="sorting_1">

                                    Sport Shoes

                                </td>
                                <td>

                                    22/12/2014

                                </td>
                                <td>

                                    23/12/2014

                                </td>
                                <td>
                                    <div style="text-align:center">
                                        <a href="~/ProductManagement/AddProduct?param=Update"><i class="fa fa-2x fa-pencil text-primary"></i></a>&nbsp;&nbsp;
                                        <a href="#" onclick="confirm('Are you sure to remove this item?')"> <i class="fa fa-2x fa-remove text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="odd" role="row">
                                <td class="sorting_1">

                                    Sport Shoes

                                </td>
                                <td>

                                    22/12/2014

                                </td>
                                <td>

                                    23/12/2014

                                </td>
                                <td>
                                    <div style="text-align:center">
                                        <a href="~/ProductManagement/AddProduct?param=Update"><i class="fa fa-2x fa-pencil text-primary"></i></a>&nbsp;&nbsp;
                                        <a href="#" onclick="confirm('Are you sure to remove this item?')"> <i class="fa fa-2x fa-remove text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="odd" role="row">
                                <td class="sorting_1">

                                    Sport Shoes

                                </td>
                                <td>

                                    22/12/2014

                                </td>
                                <td>

                                    23/12/2014

                                </td>
                                <td>
                                    <div style="text-align:center">
                                        <a href="~/ProductManagement/AddProduct?param=Update"><i class="fa fa-2x fa-pencil text-primary"></i></a>&nbsp;&nbsp;
                                        <a href="#" onclick="confirm('Are you sure to remove this item?')"> <i class="fa fa-2x fa-remove text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="odd" role="row">
                                <td class="sorting_1">

                                    Sport Shoes

                                </td>
                                <td>

                                    22/12/2014

                                </td>
                                <td>

                                    23/12/2014

                                </td>
                                <td>
                                    <div style="text-align:center">
                                        <a href="~/ProductManagement/AddProduct?param=Update"><i class="fa fa-2x fa-pencil text-primary"></i></a>&nbsp;&nbsp;
                                        <a href="#" onclick="confirm('Are you sure to remove this item?')"> <i class="fa fa-2x fa-remove text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                    <div class="dt-panelfooter clearfix">
                        <div id="datatable2_info" class="dataTables_info" role="status" aria-live="polite">

                        </div>
                        <div id="datatable2_paginate" class="dataTables_paginate paging_simple_numbers">

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div>
            <form action="~/CategoryManagement/RedirectToAddCategory" method="get">
                <input type="submit" value="Add New Category" class="btn btn-primary">
            </form>

        </div>

    </div>

</section>