@{
    ViewBag.Title = "SiteManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SiteManagement</h2>
<div class="panel">
    <div class="panel-body p1 col-lg-6">
        <table class="table mbn table-striped admin-form theme-info">
            <thead>
                <tr class="hiden">
                    
                    <th>My Sites</th>
                    @*<th class="w175 text-right">Widget</th>*@
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td class="">Forum Site</td>
                    <td class="text-right">
                        <i class="fa fa-chain fs30 va-b"></i>
                        <i class="fa fa-bar-chart-o fs30 va-b"></i>
                        <i class="fa fa-edit fs30 va-b"></i>
                        <i class="fa fa-reply-all fs30 va-b"></i>
                        <i class="fa fa-trash fs30 va-b"></i>
                    </td>
                </tr>
                <tr>
                    
                    <td class="">Ecommerce Site</td>
                    <td class="text-right">
                        <i class="fa fa-chain fs30 va-b"></i>
                        <i class="fa fa-bar-chart-o fs30 va-b"></i>
                        <i class="fa fa-edit fs30 va-b"></i>
                        <i class="fa fa-reply-all fs30 va-b"></i>
                        <i class="fa fa-trash fs30 va-b"></i>
                    </td>
                </tr>
                <tr>
                    
                    <td class="">Catalogue Site</td>
                    <td class="text-right">
                        <i class="fa fa-chain fs30 va-b"></i>
                        <i class="fa fa-bar-chart-o fs30 va-b"></i>
                        <i class="fa fa-edit fs30 va-b"></i>
                        <i class="fa fa-reply-all fs30 va-b"></i>
                        <i class="fa fa-trash fs30 va-b"></i>
                    </td>
                </tr>
                <tr>
                    
                    <td class="">CMS Site</td>
                    <td class="text-right">
                        <i class="fa fa-chain fs30 va-b"></i>
                        <i class="fa fa-bar-chart-o fs30 va-b"></i>
                        <i class="fa fa-edit fs30 va-b"></i>
                        <i class="fa fa-reply-all fs30 va-b"></i>
                        <i class="fa fa-trash fs30 va-b"></i>
                    </td>
                </tr>
                <tr>

                    <td class="">Design Site</td>
                    <td class="text-right">
                        <i class="fa fa-chain-broken fs30 va-b"></i>
                        <i class="fa fa-bar-chart-o fs30 va-b"></i>
                        <i class="fa fa-edit fs30 va-b"></i>
                        <i class="fa fa-reply-all fs30 va-b"></i>
                        <i class="fa fa-trash fs30 va-b"></i>
                    </td>
                </tr>
                <tr>

                    <td class="">New Site</td>
                    <td class="text-right">
                        <i class="fa fa-chain-broken fs30 va-b"></i>
                        <i class="fa fa-bar-chart-o fs30 va-b"></i>
                        <i class="fa fa-edit fs30 va-b"></i>
                        <i class="fa fa-reply-all fs30 va-b"></i>
                        <i class="fa fa-trash fs30 va-b"></i>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
