body {
    background-color: #778899;
}

#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 100px;
    margin-left: 15%;
}

    #tabs li {
        float: left;
        margin: 0 .5em 0 0;
    }

    #tabs a {
        position: relative;
        background: #ddd;
        background-image: linear-gradient(to bottom, #6495ED, #FFE4C4);
        padding: .7em 3.5em;
        float: left;
        text-decoration: none;
        color: #444;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        border-radius: 5px 0 0 0;
        box-shadow: 0 2px 2px rgba(0,0,0,.4);
    }

        #tabs a:hover,
        #tabs a:hover::after,
        #tabs a:focus,
        #tabs a:focus::after {
            background: #fff;
        }

        #tabs a:focus {
            outline: 0;
        }

        #tabs a::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            right: -.5em;
            bottom: 0;
            width: 1em;
            background: #ddd;
            background-image: linear-gradient(to bottom, #fff, #ddd);
            box-shadow: 2px 2px 2px rgba(0,0,0,.4);
            transform: skew(10deg);
            border-radius: 0 5px 0 0;
        }

    #tabs #current a,
    #tabs #current a::after {
        background: #fff;
        z-index: 3;
    }

#content {
    background: #fff;
    padding: 2em;
    height: 400px;
    width: 65%;
    position: relative;
    z-index: 2;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    margin-left: 15%;
}

.website-thumbnail {
    width: 190px;
    height: 180px;
    background-color: #D7D7D7;
    margin-right: 15px;
    border: 1px solid #D3D3D3;
}

.website-information-area {
    width: 400px;
    padding-left: 55px;
}

.left {
    float: left;
}



.website-name {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #58595B;
}


website-information {
    border: 0px none;
    clear: both;
    width: 100%;
}

account-information {
    border: 0px none;
    clear: both;
    width: 70%;
}

table {
    background: none repeat scroll 0% 0% #F8F8F8;
    border-right: 0px none;
    clear: both;
    color: #333;
    margin-bottom: 10px;
}

* {
    word-wrap: break-word;
}

.website-information tr td:first-child {
    width: 165px;
    color: #490;
    font-weight: bold;
}

.account-information tr td:first-child {
    width: 150px;
    color: #490;
    font-weight: bold;
}

.title {
    float: left;
    font-weight: bold;
    font-size: 18px;
    color: #5ACC00;
    margin-top: 30px;
}

.title-storage {
    float: left;
    font-weight: bold;
    font-size: 18px;
    color: #5ACC00;
    margin-top: 10px;
}

.storage-information {
    margin-top: 15px;
    font-size: 12px;
    margin-left: 10PX;
}

.area {
    overflow: hidden;
    background-color: #FFF;
    padding: 10px;
}

.progress-bar {
    margin: 20px 10px;
}

    .progress-bar .ui-progressbar {
        border: 2px solid #AAA;
        height: 30px;
        background-color: #EDEDED;
    }

.ui-progressbar {
    height: 2em;
    text-align: left;
}

.ui-widget-content {
    background-color: #F8F8F8;
    color: #222;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

.progress-bar .ui-progressbar-value {
    position: relative;
    background-color: #5ACC00;
}

.ui-progressbar .ui-progressbar-value {
    height: 100%;
}

.ui-widget-header {
    background-color: #A9E37C;
    color: #222;
    font-weight: bold;
    height: 35px;
}

.profile-information span, .storage-information span {
    font-weight: bold;
    color: #490;
}

.profile-information {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 30%;
    font-size: 18px;
    color: #58595B;
}

.action-edit span {
    display: inline-block;
    vertical-align: text-bottom;
    width: 32px;
    height: 32px;
    background: url("../Images/Icon/Modify.png") no-repeat;
}


.action-setting span {
    display: inline-block;
    vertical-align: text-bottom;
    width: 32px;
    height: 32px;
    background: url("../Images/Icon/Setting.png") no-repeat;
}


.action-preview span {
    display: inline-block;
    vertical-align: text-bottom;
    width: 32px;
    height: 32px;
    background: url("../Images/Icon/Preview.png") no-repeat;
}

.action-delete span {
    display: inline-block;
    vertical-align: text-bottom;
    width: 32px;
    height: 32px;
    background: url("../Images/Icon/Delete.png") no-repeat;
}
