<div id="demo-bar" class="jx-bar jx-bar-rounded-tl jx-bar-rounded-tr jx-bar-button jx-bar-button-rounded" style="z-index: 2000; overflow: hidden; position: fixed; bottom: 0px; margin-left: 67.5px;">
    <ul>
        <li>
            <a href="">
                <img alt="" src="http://static.bizwebmedia.net/images/icons/product.png" style="vertical-align: bottom; border: 0px solid rgb(255, 255, 255);"></img>
                Thêm sản phẩm mới
            </a>
        </li>
    </ul>
    <ul style="float: right;">

        <li class="jx-nav-menu-active jx-nav-menu-active-rounded" alt="Hỗ trợ">

            <a href="#" name="nav2">

                <img alt="Hỗ trợ" src="http://static.bizwebmedia.net/images/icons/group.png" style="vertical-align: bottom; border: 0px solid rgb(255, 255, 255);"></img>

                Hỗ trợ

            </a>
            <div class="jx-arrow-down"></div>

            <ul id="nav-2" style="display: none;">

                <li>

                    <a target="_blank" href="http://www.bizweb.vn/tro-giup-p164.html">
                        <img src="http://static.bizwebmedia.net/images/icons/help3.png" alt="" style="vertical-align: bottom; border: 0px solid rgb(255, 255, 255);"></img>

                        Trợ giúp

                    </a>
                    <div class="jx-arrow-down"></div>

                </li>
                <li>

                    <a href="#">
                        <img src="http://static.bizwebmedia.net/images/icons/telephone.png" alt="" style="vertical-align: bottom; border: 0px solid rgb(255, 255, 255);"></img>
                        <b>

                            Hỗ trợ qua điện thoại

                        </b>
                        <br></br>


                        TVDV:

                        <b style="color: #DF490A;">

                            04.66742332

                        </b>
                        <br></br>


                        CSKH:
                        …

                        <b style="color: #DF490A;">

                            04.66745832

                        </b>
                    </a>
                    <div class="jx-arrow-down"></div>

                </li>
                <li>

                    <a href="ymsgr:sendIM?bizweb_hotro">
                        <img src="http://opi.yahoo.com/online?u=bizweb_hotro&m=g&t=5" alt="" style="vertical-align: bottom; border: 0px solid rgb(255, 255, 255);"></img>
                        <b>

                            Hỗ trợ qua yahoo

                        </b>
                        <br></br>
                        <font style="color: #DF490A;">
                            bizweb_hotro
                        </font>
                    </a>
                    <div class="jx-arrow-down"></div>
                </li>
            </ul>
        </li>

    </ul>
</div>