<aside class="tray tray-right tray290 va-t pn" data-tray-height="match">

    <div class="affix-pane" data-spy="affix" data-offset-top="200">
        <div class="animated-long" data-animate="[" 1000","fadein"]">

            <div id="skin-switcher" class="row tray-bin alt-btns-hover br-b-n br-h-n mn">
                <div class="col-md-6">

                    <a class="holder-style p15 holder-active mb20" href="#modal-image">
                        <span class="fa fa-picture-o fs40 holder-icon"></span>
                        <br></br>
                        Image
                    </a>
                </div>
                <div class="col-md-6">

                    <a class="holder-style p15 mb20" href="#modal-text">
                        <span class="fa fa-text-height fs40 holder-icon">
                        </span>
                        <br></br>

                        Text
                    </a>
                </div>
            </div>
        </div>
        <div id="nav-spy">
            <ul class="nav tray-nav custom-nav-animation">
                <li class="animated animated-short zoomIn active">
                    <a href="#spy1"></a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy2">

                        <span class="fa fa-files-o fa-lg"></span>

                        File Uploaders

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy3">

                        <span class="fa fa-caret-square-o-right fa-lg"></span>

                        Form Input Addons

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy4">

                        <span class="fa fa-check-square-o fa-lg"></span>

                        Radios & Checkboxes

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy5">

                        <span class="fa fa-toggle-off fa-lg"></span>

                        Input Switches

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy6">

                        <span class="fa fa-star-o fa-lg"></span>

                        Review & Rating Widgets

                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
