<aside class="tray tray-right tray290 va-t pn" data-tray-height="match">

    <div class="affix-pane" data-spy="affix" data-offset-top="200" style="overflow-y:scroll; overflow:scroll;overflow-x:hidden; height:500px;">
        <div class="animated-long" data-animate="[" 1000","fadein"]">
            <div id="skin-switcher" class="row tray-bin alt-btns-hover br-b-n br-h-n mn">
                <div class="col-md-6">

                    <a class="holder-style p15 mb20 holder" href="#modal-image">
                        <span class="fa fa-picture-o fs40 holder-icon"></span>
                        <br></br>
                        Image
                    </a>
                </div>
                <div class="col-md-6">

                    <a class="holder-style p15 mb20" href="#modal-text">
                        <span class="fa fa-text-height fs40 holder-icon">
                        </span>
                        <br></br>

                        Text
                    </a>
                </div>
                <div class="col-md-6">

                    <a class="holder-style p15 mb20" href="#modal-image">
                        <span class="fa fa-pencil-square-o fs40 holder-icon"></span>
                        <br></br>
                        Form
                    </a>
                </div>
                <div class="col-md-6">

                    <a class="holder-style p15 mb20" href="#modal-image">
                        <span class="fa fa-map-marker fs40 holder-icon"></span>
                        <br></br>
                        Panel
                    </a>
                </div>
            </div>
        </div>
        <div id="nav-spy">
            <ul class="nav tray-nav custom-nav-animation">
                <li class="animated animated-short zoomIn active">
                    <a href="#spy1">Basic</a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy2">

                        <span class="fa fa-upload fa-3x"></span>

                        File Uploaders

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy3">

                        <span class="fa fa-caret-square-o-right fa-lg fa-3x"></span>

                        Form Input Addons

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy4">

                        <span class="fa fa-check-square-o fa-lg fa-3x"></span>

                        Radios & Checkboxes

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy5">

                        <span class="fa fa-toggle-off fa-lg fa-3x"></span>

                        Input Switches

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy6">

                        <span class="fa fa-star-o fa-lg fa-3x"></span>

                        Review & Rating Widgets

                    </a>
                </li>
            </ul>

            <ul class="nav tray-nav custom-nav-animation">
                <li class="animated animated-short zoomIn active">
                    <a href="#spy1">Structure</a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy2">

                        <span class="fa fa-minus fa-3x"></span>

                        Divider

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy3">

                        <span class="fa fa-caret-square-o-right fa-lg fa-3x"></span>

                        Spacer

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy4">

                        <span class="fa fa-square-o fa-3x"></span>

                        Button

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy5">

                        <span class="fa fa-search fa-3x"></span>

                        Search box

                    </a>

                </li>
            </ul>

            <ul class="nav tray-nav custom-nav-animation">
                <li class="animated animated-short zoomIn active">
                    <a href="#spy1">Media</a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy2">

                        <span class="fa fa-file-video-o fa-3x"></span>

                        Video

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy3">

                        <span class="fa fa-file-audio-o fa-3x"></span>

                        Audio

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy4">

                        <span class="fa fa-file-word-o fa-3x"></span>

                        Document

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy5">

                        <span class="fa fa-youtube-play fa-3x"></span>

                        Youtube

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy5">

                        <span class="fa fa-facebook fa-3x"></span>

                        Flash

                    </a>

                </li>
                <li class="animated animated-short zoomIn">

                    <a href="#spy5">

                        <span class="fa fa-file fa-3x"></span>

                        File

                    </a>

                </li>
            </ul>
        </div>
    </div>
</aside>
