<div id="w-editor-left" class="w-sidebar w-ui">
    <div id="available-elements" class="w-massless-scroll">
        <div class="scroll-outer w-scroll-outer">
            <div class="scroll w-scroll w-has-scrollbars w-has-native-scrollbars" style="padding-right: 17px; padding-bottom: 17px; margin-right: -17px; margin-bottom: -17px;">

                <ul class="content w-scroll-content" style="margin-right: -17px; margin-bottom: -17px; padding-right: 0px;">
                    <li class="section sticky" data-category="basic" style="padding-top: 22px;">
                        <h3 style="position: absolute; top: 0px; width: 100%;"></h3>
                        <ul></ul>
                        <div style="clear:both"></div>
                    </li>
                    <li class="section" data-category="structure" style=""></li>
                    <li class="section" data-category="multimedia" style=""></li>
                    <li class="section" data-category="revenue" style=""></li>
                    <li class="section" data-category="more" style="min-height: 89px;"></li>
                </ul>
            </div>
            <div class="w-scrollbar w-scrollbar-v" style="display: block;"></div>
            <div class="w-scrollbar w-scrollbar-h" style="display: none;"></div>
            <div class="w-scroll-corner" style="display: none;"></div>
        </div>
        <div class="disabled-overlay"></div>
    </div>
    <div id="w-design" class="" style="display:none"></div>
    <div class="footer "></div>

</div>