@{
    ViewBag.Title = "Builder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start: Topbar -->
<header id="topbar" class="">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="dashboard.html">Builder Site</a>
            </li>
            <li class="crumb-icon">
                <a href="dashboard.html">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-link">
                <a href="index.html">Home</a>
            </li>
            <li class="crumb-trail">Dashboard</li>
        </ol>
    </div>
</header>
<!-- End: Topbar -->

@Html.Partial("~/Views/Shared/Builder/_RightMenu.cshtml")
<!-- end: .tray-right -->