@{
    ViewBag.Title = "Statistic";
    Layout = "~/Views/Shared/User/_UserLayout.cshtml";
}
<section id="content" class="table-layout">
    <aside class="tray tray-left tray320 va-t pn" data-tray-height="match">

        <div class="animated-delay p20" data-animate='["100","fadeIn"]'>
            <h1>Website Statistic</h1>

        </div>

        <div class="animated-delay ph20 pb20 ptn hidden" data-animate='["300","fadeIn"]'>
            <img class="img-responsive w200" src="assets/img/external/highcharts_logo.html" title="logo">
        </div>

        <div id="nav-spy">
            <ul class="nav tray-nav" data-spy="affix" data-offset-top="200">
                
                <li class="active">
                    <a href="#pchart1">
                        <span class="fa fa-area-chart fa-lg"></span> Page Viewing Statistic
                    </a>
                </li>
                <li>
                    <a href="#pchart7">
                        <span class="fa fa-area-chart fa-lg"></span> Top Product Viewing
                    </a>
                </li>
                                
            </ul>
        </div>
    </aside>

<div class="tray tray-center p40 va-t posr">
   
    <div class="panel" id="pchart1">
        <div class="panel-heading">
            <span class="panel-icon">
                <i class="fa fa-pencil"></i>
            </span>
            <span class="panel-title"> Pages Viewing Statistic</span>
        </div>
        <div class="panel-body bg-light dark">

            <div id="high-column2" style="width: 100%; height: 430px; margin: 0 auto"></div>

        </div>
    </div>
    
    <div class="panel" id="pchart7">
        <div class="panel-heading">
            <span class="panel-title text-info fw700"><i class="fa fa-pencil hidden"></i> Top Product Viewing</span>
        </div>
        <div class="panel-body pn">

            <div id="high-column" style="width: 100%; height: 197px; margin: 0 auto"></div>

        </div>
    </div>
</div>
</section>